/*
 *
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 * 
 * For simplicity, no reset or normalize is added. 
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 *
*/

/* ---- Base Rules ---- */
@import url("https://fonts.googleapis.com/css2?family=Parisienne&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Merriweather", serif;
  color: rgba(0, 0, 0, 0.8);
  background-color: FloralWhite;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}
/* Typeography General*/
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
}

h1 {
  font-size: 3.5rem;
  letter-spacing: 4px;
  font-family: "Parisienne", cursive;
  color: FloralWhite;
  line-height: 1.25;
}

.subtitle {
  font-size: 1.15rem;
  letter-spacing: 2px;
  line-height: 1.75;
  color: FloralWhite;
  font-style: italic;
}

/* ---- Layout Rules ---- */
/* main {
  margin: 10vh 1em 10vh;
} */

.main__hero {
  height: 80vh;
  margin-top: 80px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url("../img/bouquet-of-pink-roses.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70% 5% 5% 5%;
}
.header-container {
  width: 100%;
  padding: 2% 5%;
  background: rgba(0, 0, 0, 0.1);
}

section {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

/* ---- Module Rules ---- */

/* Navigation Styles*/
.navbar__menu {
  padding-left: 0;
  padding-top: 0.5rem;
  margin: 0 auto;
  text-align: center;
  height: 80px;
  width: 100%;
  background: FloralWhite;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
  justify-content: center;
}

.navbar__menu li {
  display: inline-block;
  padding: 0.5rem 0.75rem;
  list-style: none;
  font-size: 0.8rem;
}

.navbar__menu li a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}

@media only screen and (min-width: 35em) {
  .navbar__menu li {
    padding: 1rem 1.25rem 0.5rem;
    font-size: 1rem;
  }
  .navbar__menu {
    padding-top: 1rem;
  }
}

li:hover {
  border: 3px solid rgb(254, 112, 138);
}

/* 
/* Header Styles */
.page__header {
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

/* Footer Styles */
.page__footer {
  background: rgba(0, 0, 0, 0.8);
  padding: 3em;
  color: floralwhite;
}

.page__footer p {
  max-width: 1000px;
  margin: 0 auto;
  color: floralwhite;
  padding-top: 1rem;
}
.author a {
  color: floralwhite;
}

.author a:hover {
  color: rgb(254, 112, 138);
}

@media only screen and (min-width: 35em) {
  .main__hero {
    height: 100vh;
    padding: 22% 0 5% 10%;
  }
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  .header-container {
    width: 80%;
  }
}
@media only screen and (min-width: 50em) {
  h1 {
    font-size: 5.5rem;
  }
  h2 {
    font-size: 2rem;
  }
}
/* ---- Theme Rules ---- */
/* Landing Container Styles */
.landing__container {
  min-height: 80vh;
  padding-top: 90px;
  margin: 0 auto;
  padding-bottom: 0;
}

.about {
  min-height: 80vh;
}

.about-row {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 0 auto;
}
.about-text {
  padding: 1.5rem;
  max-width: 250px;
  margin: auto;
  border: 8px solid rgb(254, 112, 138);
  line-height: 1.5;
  flex: 1 0 50%;
}

.about-photo {
  flex: 1 0 50%;
  max-width: 250px;
  margin: 0 auto;
}
.florist {
  padding: 2rem 1rem;
  width: 100%;
  height: auto;

  filter: brightness(80%);
}
.about-title,
.service-title,
.section-title {
  font-size: 1.75rem;
  letter-spacing: 2px;
  color: rgba(0, 0, 0, 0.8);
  padding-bottom: 1rem;
  font-family: "Parisienne", cursive;
}
.section-title {
  text-align: center;
  font-size: 2.25rem;
}

.between {
  width: 100%;
  height: 220px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url("../img/rsz_1bouquet.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 90px;
}

.between-text {
  display: inline-block;
  font-size: 1.75rem;
  letter-spacing: 2px;
  color: floralwhite;
  font-family: "Parisienne", cursive;
  width: 50%;
  margin: auto;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  padding: 2% 5%;
  text-align: left;
}
@media only screen and (min-width: 35em) {
  .landing__container {
    max-width: 50em;
  }

  .between-text {
    width: 80%;
  }
}
@media only screen and (min-width: 41em) {
  .about-row {
    padding: 0 5rem;
    flex-direction: row;
  }
  .landing__container {
    max-width: 60em;
  }
  .between-text {
    width: 50%;
    font-size: 2rem;
  }
}
section#gallery {
  padding-bottom: 0;
}

.gallery-grid {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding-top: 2rem;
}
.item {
  min-width: 300px;
  min-height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  border: 8px solid floralwhite;
}

.item:hover {
  transform: scale(1.1);
  border: 8px solid rgb(254, 112, 138);
}
.one {
  background-image: url("../img/img-gallery/beautiful-bloom-blooming-blossom-540522.jpg");
}
.two {
  background-image: url("../img/img-gallery/person-holding-white-peony-bouquet-closeup-photography-1109561.jpg");
}
.three {
  background-image: url("../img/img-gallery/pexels-photo-931179.jpeg");
}
.four {
  background-image: url("../img/img-gallery/photo-of-flowers-in-can-1809337.jpg");
}
.five {
  background-image: url("../img/img-gallery/yellow-mums-orange-peruvian-lilies-and-carnation-flower-1058771.jpg");
}
.six {
  background-image: url("../img/img-gallery/yellow-and-pink-petaled-flowers-on-table-near-ocean-under-169193.jpg");
}
.seven {
  background-image: url("../img/img-gallery/wedding-preparation-313707.jpg");
}
.eight {
  background-image: url("../img/img-gallery/white-and-red-petaled-flowers-close-up-photography-2691784.jpg");
}
.nine {
  background-image: url("../img/img-gallery/white-orange-and-green-floral-bouquet-decor-931158.jpg");
}
.ten {
  background-image: url("../img/img-gallery/woman-holding-bouquet-of-roses-1424810.jpg");
}
@media only screen and (min-width: 35em) {
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .item {
    min-width: 250px;
    min-height: 250px;
  }
}
@media only screen and (min-width: 45em) {
  .gallery-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .item {
    min-width: 200px;
    min-height: 200px;
  }
}
@media only screen and (min-width: 50em) {
  .gallery-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (min-width: 58em) {
  .gallery-grid {
    grid-template-columns: repeat(5, 1fr);
  }
  .item {
    min-width: 200px;
    min-height: 200px;
    width: 100%;
    height: 100%;
  }
  section#gallery {
    max-width: 1224px;
  }
  .landing__container.gallery {
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
  }
}

.row-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card {
  width: 250px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.card:hover {
  transform: scale(1.05);
}

.upper-part {
  height: 200px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 30%;
}
.first {
  background-image: url("../img/person-holding-maroon-stargazer-flowers-1179026.jpg");
}
.second {
  background-image: url("../img/close-up-photo-of-pink-and-white-faux-rose-bouquet-1488310.jpg");
}
.third {
  background-image: url("../img/pink-garden-rose-in-clear-glass-jar-2422135.jpg");
}

.middle-card {
  margin: 2rem;
}

.lower-part {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0.75rem;
  border-left: 3px solid rgb(254, 112, 138);
  border-bottom: 3px solid rgb(254, 112, 138);
  border-right: 3px solid rgb(254, 112, 138);
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.3);
  text-align: justify;
  justify-content: center;
  align-items: center;
}
.service-title {
  text-align: center;
  padding-top: 1.75rem;
}
.price {
  text-align: center;
  padding: 1.75rem 0;
  font-weight: bold;
  font-size: 2.25rem;
  font-style: italic;
}

.buyBtn {
  display: inline-block;
  font-family: "Parisienne", cursive;
  margin: 0 auto 1.75rem;
  padding: 0.75rem 1.5rem;
  color: floralwhite;
  background: rgb(254, 112, 138);
  font-size: 1.1rem;
  letter-spacing: 2px;
  font-weight: bolder;
  outline: none;
  border: 8px solid floralwhite;
  cursor: pointer;
}

.buyBtn:hover {
  transform: scale(1.1);
  background: floralwhite;
  color: rgba(0, 0, 0, 0.8);
  border: 8px solid rgb(254, 112, 138);
}

.testimonial-cards {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
}

.card-vertical {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.card-vertical:hover {
  border: 8px solid rgb(254, 112, 138);
}

@media only screen and (min-width: 35em) {
  .card-vertical {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  .card-vertical:nth-child(2) {
    flex-direction: row-reverse;
  }

  .testim {
    display: inline-block;
    padding-left: 3rem;
    padding-right: 3rem;
    flex: 1 0 65%;
  }
}
.testim {
  padding-top: 1.25rem;
}

.card-vertical:nth-child(2).testim {
  padding-left: 0;
  padding-right: 3rem;
}

.people {
  position: relative;
  overflow: hidden;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.people img {
  width: 100%;
  height: auto;
}

.contact-us {
  max-width: 400px;
  margin: 0 auto;
}

.contact-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
form {
  padding: 0.75rem;
  line-height: 1.2;
  opacity: 0.9;
}

input,
textarea {
  display: block;
  background: floralwhite;
  outline: none;
  box-shadow: none;
  border: 1px solid #ddddde;
  height: 48px;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  min-width: 300px;
  padding-left: 1.5rem;
}
input:hover,
textarea:hover {
  border: 2px solid rgba(0, 0, 0, 0.3);
}
input:focus,
textarea:focus {
  border: 1px solid #ddddde;
  border-bottom: 5px solid rgb(254, 112, 138);
}

.send-btn {
  margin-top: 2rem;
  padding-left: 0;
  background: rgb(254, 112, 138);
  color: floralwhite;
  font-size: 1.25rem;
  font-weight: bolder;
  letter-spacing: 2px;
  font-family: "Parisienne", cursive;
  border: 3px solid floralwhite;
  line-height: 1.5;
}
.send-btn:hover {
  border: 2px solid transparent;
  transform: scaleY(1.1);
  background-color: floralwhite;
  color: rgb(254, 112, 138);
  border: 3px solid rgb(254, 112, 138);
}
